[user]
	name = Pawel Borak
	email = borak.pawel@gmail.com
[includeIf "gitdir:~/code/gitlab/"]
  path = ~/code/gitlab/.gitconfig.gitlab
[core]
	autocrlf = input
	excludesfile = ~/.gitignore
	editor = nvim
	pager = delta
[fetch]
	prune = true
[color]
	ui = auto
[commit]
	template = ~/.gitmessage
[push]
  default = current
  autoSetupRemote = true
[alias]
	aa = add --all
  abort = abort
	b = branch
	ca = commit --amend
	ce = commit --amend --no-edit
	co = checkout
  cp = cherry-pick
  continue = continue
	d = diff
	dc = diff --cached
  mup = !git checkout main && git fetch origin && echo && git l main..origin/main && echo && git pull --quiet && git checkout -
  gone = "!f() { git fetch --all --prune; git branch -vv | awk '/: gone]/{print $1}' | xargs git branch -D; }; f"
  fa = fetch --all
	l = log --oneline --decorate -20
  ll  = "log --graph --date=human --format='%C(#89B4FA)%h%C(#f38ba8)%d%C(reset) - %C(#A6E3A1)(%ad)%C(reset) %s %C(#f38ba8){%an}%C(reset)'"
	pl = pull
	plr = pull --rebase
	ps = push
	psf = push --force-with-lease
	publish = publish
  rim = !git rebase -i $(git merge-base main HEAD)
  riu = !git rebase -i $(git upstream)
	uncommit = reset --soft HEAD^
	unstage = reset
	upstream = rev-parse --abbrev-ref --symbolic-full-name @{u}
[delta]
	line-numbers = true
[diff]
	colorMoved = default
[pull]
  ff = only
[rerere]
  enabled = true
