[user]
	name = Pawel Borak
	email = borak.pawel@gmail.com
[includeIf "gitdir:~/code/work/"]
  path = ~/code/work/.gitconfig.work
[core]
	autocrlf = input
	excludesfile = ~/.gitignore
	editor = nvim
	pager = delta
[fetch]
	prune = true
[color]
	ui = auto
[commit]
	template = ~/.gitmessage
[push]
  default = upstream
[alias]
	aa = add --all
  abort = abort
	b = branch
	ca = commit --amend
	ce = commit --amend --no-edit
	co = checkout
	conflicted = !nvim +Conflicted
  continue = continue
	d = diff
	dc = diff --cached
  gone = "!f() { git fetch --all --prune; git branch -vv | awk '/: gone]/{print $1}' | xargs git branch -D; }; f"
	l = log --oneline --decorate --graph -20
  ll  = "log --graph --date=human --format='%C(#e0af68)%h%C(#f7768e)%d%C(reset) - %C(#9ece6a)(%ad)%C(reset) %s %C(#7aa2f7){%an}%C(reset)'"
	pl = pull
	plr = pull --rebase
	ps = push
	psf = push --force-with-lease
	publish = publish
  rim = !git rebase -i $(git merge-base main HEAD)
  rima = !git rebase -i $(git merge-base master HEAD)
  riu = !git rebase -i $(git upstream)
	uncommit = reset --soft HEAD^
	unstage = reset
	upstream = rev-parse --abbrev-ref --symbolic-full-name @{u}
[delta]
	line-numbers = true
[diff]
	colorMoved = default
[pull]
  ff = only
