*.pyc
*.sw[nop]
.DS_Store
.bundle
.byebug_history
.env
.git/
/bower_components/
/log
/node_modules/
/tmp
/vendor
db/*.sqlite3
log/*.log
rerun.txt
tmp/**/*
.solargraph.yml
.pryrc
solargraph.rb
.projections.json
config/application.local.yml
tags
.localrc.lua
neotest_docker_script.sh
